{
  "openapi": "3.0.3",
  "info": {
    "title": "Aether-X Port Delay Intelligence",
    "description": "Decision-grade port delay signals for logistics automation.\nReturns p50/p90 delay confidence intervals, parametric demurrage\nexposure, and calibration status for ports in Brazil, Europe,\nNorth America, and Asia. Built for M2M agents, freight systems,\nand supply chain automation that require traceable, audit-ready\nrisk signals \u2014 not just congestion scores.\n\n**IMPORTANT \u00b7 Data integrity notice**: every response includes `data_source`, `data_source_label` and `as_of`.\nBrazilian ports (BRSSZ, BRPNG, BRRIO, BRNIT, BRITG) serve live line-ups: `data_source=\"live:appa+santos+lachmann\"` (BRSSZ/BRPNG) and `data_source=\"live:portosrio_silog\"` (BRRIO/BRNIT/BRITG). The remaining ports\nserve a **static reference seed**: `data_source=\"static_reference_seed\"` means the value is a seeded baseline, not a\nlive measurement. The 24/48/72h trend is a `synthetic_projection`, not a live forecast. Do not treat seed numbers as\nreal-time field data.\n\n**The signal** \u2014 `GET /v1/port-risk?port_id=BRSSZ` returns:\n\n| Field | Meaning |\n|-------|---------|\n| `congestion_score` | Normalized 0.0\u20131.0 reference congestion level (seeded) |\n| `eta_delay_days` | Reference delay applied to incoming vessels |\n| `waiting_vessels` | Reference ships anchored or queued |\n| `freight_volatility_index` | Pressure indicator for freight pricing |\n| `estimated_daily_demurrage_usd` | Estimated daily demurrage (USD) for a vessel queued at the port |\n| `historical_expected_wait_h` | p50 expected wait (hours), calibrated against the ANTAQ series |\n| `p90_wait_h` | 90th-percentile expected wait (hours) |\n| `expected_demurrage_usd` | Parametric demurrage exposure (p50 \u00d7 reference daily rate) |\n| `p90_demurrage_usd` | Parametric demurrage exposure (p90 \u00d7 reference daily rate) |\n| `confidence` | Calibration confidence (0.0\u20131.0), computed by formula v1 |\n| `paired_windows` | Number of matched observation\u2194ANTAQ windows |\n| `calibration_status` | Calibration maturity: `CALIBRATED`, `QUALIFIED`, `LIMITED` or `INSUFFICIENT` |\n| `data_source` | `live:appa+santos+lachmann`, `live:portosrio_silog` or `live:shipinfo_ais:<port>` for live observations; otherwise `calibrated_reference_seed` / `static_reference_seed` (reference baseline, NOT live telemetry) |\n| `as_of` | Timestamp of the seed (not a live refresh) |\n\n**Trend (24h/48h/72h)** \u2014 `GET /v1/port-trend?port_id=BRSSZ` returns a **synthetic** projection with a `trend` label: `acelerando`, `est\u00e1vel` or `descongestionando`.\n\n**Free tier** \u2014 $0.00, no credit card required. Paid access via RapidAPI subscription or direct contact.\n\n**Other ways to consume it**\n- Python SDK: `pip install aetherx-oracle`\n- MCP server for AI agents: `uvx aetherx-mcp` (or the hosted `/mcp` endpoint) \u2014 tools: `get_port_risk`, `get_ports_risk`, `get_port_trend`\n\n**Coverage** \u2014 Brasil como produto principal (5 portos com fila REAL de autoridade: BRSSZ, BRPNG, BRRIO, BRNIT, BRITG \u2014 `live:appa+santos+lachmann` / `live:portosrio_silog`, calibrados contra a s\u00e9rie ANTAQ) + 31 portos globais como cobertura de **refer\u00eancia calibrada/est\u00e1tica** (`calibrated_reference_seed`/`static_reference_seed`) \u2014 nenhuma resposta finge ser telemetria viva (ver `decision_grade` e `data_source`). A integra\u00e7\u00e3o AIS-ShipInfo existe no engine e entra como live no ciclo quando o sensor entrega dado consistente. Unknown ports return a global statistical estimate (`country=\"Global\"`).\n\nSignals are provided \"AS IS\" and do not constitute investment advice.\n",
    "version": "1.5.0",
    "termsOfService": "https://aetherx.aether-grid.io/terms",
    "contact": {
      "name": "Aether-X",
      "url": "https://aetherx.aether-grid.io",
      "email": "contact@aether-grid.io"
    },
    "x-logo": {
      "url": "https://raw.githubusercontent.com/belegante-byte/aetherx-mcp/main/assets/logo.png",
      "altText": "Aether-X Port Delay Intelligence"
    }
  },
  "servers": [
    {
      "url": "https://aetherx.aether-grid.io",
      "description": "Production (Railway)"
    }
  ],
  "tags": [
    {
      "name": "Port Risk",
      "description": "Predictive congestion, ETA delay and freight volatility signals per port."
    }
  ],
  "paths": {
    "/v1/port-risk": {
      "get": {
        "tags": [
          "Port Risk"
        ],
        "summary": "Get port risk",
        "description": "Returns the predictive congestion signal for a single global port: `congestion_score` (0.0-1.0), `eta_delay_days`, `waiting_vessels` and `freight_volatility_index`. Unknown ports return a global statistical estimate with `country=\"Global\"`.",
        "operationId": "getPortRisk",
        "parameters": [
          {
            "name": "port_id",
            "in": "query",
            "required": true,
            "description": "UN/LOCODE of the port, e.g. BRSSZ (Santos), CNSHA (Shanghai), NLRTM (Rotterdam).",
            "schema": {
              "type": "string",
              "example": "BRSSZ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The current congestion signal for the requested port.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "port_id",
                    "port_name",
                    "country",
                    "congestion_score",
                    "eta_delay_days",
                    "waiting_vessels",
                    "freight_volatility_index",
                    "estimated_daily_demurrage_usd",
                    "updated_at"
                  ],
                  "properties": {
                    "port_id": {
                      "type": "string",
                      "example": "BRSSZ"
                    },
                    "port_name": {
                      "type": "string",
                      "example": "Santos"
                    },
                    "country": {
                      "type": "string",
                      "example": "Brasil"
                    },
                    "congestion_score": {
                      "type": "number",
                      "format": "double",
                      "example": 0.78
                    },
                    "eta_delay_days": {
                      "type": "number",
                      "format": "double",
                      "example": 1.6
                    },
                    "waiting_vessels": {
                      "type": "integer",
                      "example": 12
                    },
                    "freight_volatility_index": {
                      "type": "number",
                      "format": "double",
                      "example": 0.42
                    },
                    "estimated_daily_demurrage_usd": {
                      "type": "integer",
                      "example": 63200
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2026-09-17 15:46:53"
                    },
                    "historical_expected_wait_h": {
                      "type": "number",
                      "format": "double",
                      "nullable": true,
                      "example": 183.0,
                      "description": "Median (p50) expected wait in hours, calibrated against the ANTAQ series."
                    },
                    "p90_wait_h": {
                      "type": "number",
                      "format": "double",
                      "nullable": true,
                      "example": 590.4,
                      "description": "90th-percentile expected wait in hours."
                    },
                    "expected_demurrage_usd": {
                      "type": "integer",
                      "nullable": true,
                      "example": 244000,
                      "description": "Parametric demurrage exposure at p50 (USD), under a declared reference daily rate."
                    },
                    "p90_demurrage_usd": {
                      "type": "integer",
                      "nullable": true,
                      "example": 787199,
                      "description": "Parametric demurrage exposure at p90 (USD)."
                    },
                    "confidence": {
                      "type": "number",
                      "format": "double",
                      "nullable": true,
                      "example": 0.8,
                      "description": "Calibration confidence (0.0-1.0), computed by formula v1. Never a fixed constant."
                    },
                    "paired_windows": {
                      "type": "integer",
                      "nullable": true,
                      "example": 5,
                      "description": "Number of matched observation-ANTAQ windows backing the calibration."
                    },
                    "calibration_status": {
                      "type": "string",
                      "nullable": true,
                      "example": "LIMITED",
                      "enum": [
                        "CALIBRATED",
                        "QUALIFIED",
                        "LIMITED",
                        "INSUFFICIENT"
                      ],
                      "description": "Calibration maturity. INSUFFICIENT means no paired window; no number is published in that case."
                    }
                  }
                },
                "example": {
                  "port_id": "BRSSZ",
                  "port_name": "Santos",
                  "country": "Brasil",
                  "congestion_score": 0.25,
                  "eta_delay_days": 0.2,
                  "waiting_vessels": 0,
                  "freight_volatility_index": 0.4,
                  "estimated_daily_demurrage_usd": 42000,
                  "updated_at": "2026-10-04 11:30:39",
                  "as_of": "2026-10-04 11:30:39",
                  "data_source": "live:santos+santos_painel",
                  "data_source_label": "Live line-up from Porto de Santos + Painel de opera\u00e7\u00f5es de Santos.",
                  "live_detail": "{\"ao_largo\": 0, \"esperados\": 0, \"atracados\": 19, \"programados\": 122}",
                  "provenance": "[{\"source\": \"Lachmann\", \"source_url\": \"https://www.lachmann.com.br/arquivos_download/schedules_deadlines/Schedule_e_Deadlines_Paranagua.xls\", \"source_observed_at\": null, \"source_timestamp_quality\": \"unknown\", \"retrieved_at\": \"2026-10-04T11:30:05Z\"}, {\"source\": \"Santos_Painel\", \"source_url\": \"https://www.portodesantos.com.br/painel-de-monitoramento-das-operacoes-portuarias/\", \"source_observed_at\": null, \"source_timestamp_quality\": \"unknown\", \"retrieved_at\": \"2026-10-04T11:30:05Z\"}]",
                  "validation": {
                    "source": "antaq_estatistico_aquaviario",
                    "ano": 2026,
                    "mes": "jan",
                    "n_atracacoes": 500,
                    "n_com_imo": 491,
                    "espera_atracacao_h_avg": 51.4,
                    "espera_atracacao_h_med": 10.2,
                    "espera_atracacao_h_p90": 151.1,
                    "atracado_h_avg": 50.1,
                    "estadia_h_avg": 101.3,
                    "validado_em": "2026-10-04 01:17:53"
                  },
                  "live": {
                    "ao_largo": 0,
                    "esperados": 0,
                    "atracados": 19,
                    "programados": 122
                  },
                  "decision_grade": "decision",
                  "signal": {
                    "level": "MODERATE / LOW PRESSURE",
                    "live_observation": true,
                    "queue_vessels": 0,
                    "expected_delay_days": 0.2,
                    "demurrage_expected_usd": 6400,
                    "confidence": 0.3,
                    "provenance": "live:santos+santos_painel",
                    "decision_implication": "Live stream indicates operational pressure at Santos.",
                    "as_of": "2026-10-04 11:30:39"
                  },
                  "historical_expected_wait_h": 78.2,
                  "p90_wait_h": 242.1,
                  "confidence": 0.3,
                  "paired_windows": 0,
                  "fonte": "calibracao_v1_antaq_distribuicao_somente",
                  "semantica": "referencia historica (sem fila observada na fonte)",
                  "expected_demurrage_usd": 104266,
                  "p90_demurrage_usd": 322800,
                  "calibration_status": "INSUFFICIENT"
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-trend": {
      "get": {
        "tags": [
          "Port Risk"
        ],
        "summary": "Get port risk trend",
        "description": "Returns the 24h, 48h and 72h congestion projections for a single global port, with a `trend` label (`acelerando`, `est\u00e1vel` or `descongestionando`).",
        "operationId": "getPortTrend",
        "parameters": [
          {
            "name": "port_id",
            "in": "query",
            "required": true,
            "description": "UN/LOCODE of the port, e.g. BRSSZ (Santos), CNSHA (Shanghai), NLRTM (Rotterdam).",
            "schema": {
              "type": "string",
              "example": "BRSSZ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The 24h, 48h and 72h congestion projections for the requested port.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "port_id",
                    "port_name",
                    "country",
                    "trend",
                    "congestion_score",
                    "projection",
                    "updated_at"
                  ],
                  "properties": {
                    "port_id": {
                      "type": "string",
                      "example": "BRSSZ"
                    },
                    "port_name": {
                      "type": "string",
                      "example": "Santos"
                    },
                    "country": {
                      "type": "string",
                      "example": "Brasil"
                    },
                    "trend": {
                      "type": "string",
                      "enum": [
                        "acelerando",
                        "est\u00e1vel",
                        "descongestionando"
                      ],
                      "example": "est\u00e1vel"
                    },
                    "congestion_score": {
                      "type": "number",
                      "format": "double",
                      "example": 0.78
                    },
                    "projection": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "required": [
                          "congestion_score",
                          "eta_delay_days",
                          "estimated_daily_demurrage_usd"
                        ],
                        "properties": {
                          "congestion_score": {
                            "type": "number",
                            "format": "double"
                          },
                          "eta_delay_days": {
                            "type": "number",
                            "format": "double"
                          },
                          "estimated_daily_demurrage_usd": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2026-09-17 15:46:53"
                    }
                  }
                },
                "example": {
                  "port_id": "BRSSZ",
                  "port_name": "Santos",
                  "country": "Brasil",
                  "trend": "est\u00e1vel",
                  "congestion_score": 0.25,
                  "projection": {
                    "h24": {
                      "congestion_score": 0.25,
                      "eta_delay_days": 0.2,
                      "estimated_daily_demurrage_usd": 42000
                    },
                    "h48": {
                      "congestion_score": 0.25,
                      "eta_delay_days": 0.2,
                      "estimated_daily_demurrage_usd": 42000
                    },
                    "h72": {
                      "congestion_score": 0.25,
                      "eta_delay_days": 0.2,
                      "estimated_daily_demurrage_usd": 42000
                    }
                  },
                  "updated_at": "2026-10-04 11:30:39",
                  "as_of": "2026-10-04 11:30:39",
                  "data_source": "predictive_ml_regression",
                  "data_source_label": "Local ML Regression (Numpy) trained on historical telemetry."
                }
              }
            }
          }
        }
      }
    },
    "/v1/ports-risk": {
      "get": {
        "tags": [
          "Port Risk"
        ],
        "summary": "Get congestion risk for multiple ports in one call",
        "description": "Returns the congestion signals for up to 20 ports in a single request, preserving the order of the `port_ids` (comma-separated UN/LOCODEs).",
        "operationId": "getPortsRisk",
        "parameters": [
          {
            "name": "port_ids",
            "in": "query",
            "required": true,
            "description": "Comma-separated UN/LOCODEs, e.g. BRSSZ,CNSHA,NLRTM (max 20).",
            "schema": {
              "type": "string",
              "example": "BRSSZ,CNSHA,NLRTM"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The congestion signals, one per requested port.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "results"
                  ],
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "port_id",
                          "port_name",
                          "country",
                          "congestion_score",
                          "eta_delay_days",
                          "waiting_vessels",
                          "freight_volatility_index",
                          "estimated_daily_demurrage_usd",
                          "updated_at"
                        ],
                        "properties": {
                          "port_id": {
                            "type": "string",
                            "example": "BRSSZ"
                          },
                          "port_name": {
                            "type": "string",
                            "example": "Santos"
                          },
                          "country": {
                            "type": "string",
                            "example": "Brasil"
                          },
                          "congestion_score": {
                            "type": "number",
                            "format": "double",
                            "example": 0.78
                          },
                          "eta_delay_days": {
                            "type": "number",
                            "format": "double",
                            "example": 1.6
                          },
                          "waiting_vessels": {
                            "type": "integer",
                            "example": 12
                          },
                          "freight_volatility_index": {
                            "type": "number",
                            "format": "double",
                            "example": 0.42
                          },
                          "estimated_daily_demurrage_usd": {
                            "type": "integer",
                            "example": 63200
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2026-09-17 15:46:53"
                          },
                          "historical_expected_wait_h": {
                            "type": "number",
                            "format": "double",
                            "nullable": true,
                            "example": 183.0,
                            "description": "Median (p50) expected wait in hours, calibrated against the ANTAQ series."
                          },
                          "p90_wait_h": {
                            "type": "number",
                            "format": "double",
                            "nullable": true,
                            "example": 590.4,
                            "description": "90th-percentile expected wait in hours."
                          },
                          "expected_demurrage_usd": {
                            "type": "integer",
                            "nullable": true,
                            "example": 244000,
                            "description": "Parametric demurrage exposure at p50 (USD), under a declared reference daily rate."
                          },
                          "p90_demurrage_usd": {
                            "type": "integer",
                            "nullable": true,
                            "example": 787199,
                            "description": "Parametric demurrage exposure at p90 (USD)."
                          },
                          "confidence": {
                            "type": "number",
                            "format": "double",
                            "nullable": true,
                            "example": 0.8,
                            "description": "Calibration confidence (0.0-1.0), computed by formula v1. Never a fixed constant."
                          },
                          "paired_windows": {
                            "type": "integer",
                            "nullable": true,
                            "example": 5,
                            "description": "Number of matched observation-ANTAQ windows backing the calibration."
                          },
                          "calibration_status": {
                            "type": "string",
                            "nullable": true,
                            "example": "LIMITED",
                            "enum": [
                              "CALIBRATED",
                              "QUALIFIED",
                              "LIMITED",
                              "INSUFFICIENT"
                            ],
                            "description": "Calibration maturity. INSUFFICIENT means no paired window; no number is published in that case."
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "results": [
                    {
                      "port_id": "BRSSZ",
                      "port_name": "Santos",
                      "country": "Brasil",
                      "congestion_score": 0.25,
                      "eta_delay_days": 0.2,
                      "waiting_vessels": 0,
                      "freight_volatility_index": 0.4,
                      "estimated_daily_demurrage_usd": 42000,
                      "updated_at": "2026-10-04 11:30:39",
                      "as_of": "2026-10-04 11:30:39",
                      "data_source": "live:santos+santos_painel",
                      "data_source_label": "Live line-up from Porto de Santos + Painel de opera\u00e7\u00f5es de Santos.",
                      "live_detail": "{\"ao_largo\": 0, \"esperados\": 0, \"atracados\": 19, \"programados\": 122}",
                      "provenance": "[{\"source\": \"Lachmann\", \"source_url\": \"https://www.lachmann.com.br/arquivos_download/schedules_deadlines/Schedule_e_Deadlines_Paranagua.xls\", \"source_observed_at\": null, \"source_timestamp_quality\": \"unknown\", \"retrieved_at\": \"2026-10-04T11:30:05Z\"}, {\"source\": \"Santos_Painel\", \"source_url\": \"https://www.portodesantos.com.br/painel-de-monitoramento-das-operacoes-portuarias/\", \"source_observed_at\": null, \"source_timestamp_quality\": \"unknown\", \"retrieved_at\": \"2026-10-04T11:30:05Z\"}]",
                      "validation": {
                        "source": "antaq_estatistico_aquaviario",
                        "ano": 2026,
                        "mes": "jan",
                        "n_atracacoes": 500,
                        "n_com_imo": 491,
                        "espera_atracacao_h_avg": 51.4,
                        "espera_atracacao_h_med": 10.2,
                        "espera_atracacao_h_p90": 151.1,
                        "atracado_h_avg": 50.1,
                        "estadia_h_avg": 101.3,
                        "validado_em": "2026-10-04 01:17:53"
                      },
                      "live": {
                        "ao_largo": 0,
                        "esperados": 0,
                        "atracados": 19,
                        "programados": 122
                      },
                      "decision_grade": "decision",
                      "signal": {
                        "level": "MODERATE / LOW PRESSURE",
                        "live_observation": true,
                        "queue_vessels": 0,
                        "expected_delay_days": 0.2,
                        "demurrage_expected_usd": 6400,
                        "confidence": 0.3,
                        "provenance": "live:santos+santos_painel",
                        "decision_implication": "Live stream indicates operational pressure at Santos.",
                        "as_of": "2026-10-04 11:30:39"
                      },
                      "historical_expected_wait_h": 78.2,
                      "p90_wait_h": 242.1,
                      "confidence": 0.3,
                      "paired_windows": 0,
                      "fonte": "calibracao_v1_antaq_distribuicao_somente",
                      "semantica": "referencia historica (sem fila observada na fonte)",
                      "expected_demurrage_usd": 104266,
                      "p90_demurrage_usd": 322800,
                      "calibration_status": "INSUFFICIENT"
                    },
                    {
                      "port_id": "CNSHA",
                      "port_name": "Shanghai",
                      "country": "China",
                      "congestion_score": 0.62,
                      "eta_delay_days": 1.4,
                      "waiting_vessels": 24,
                      "freight_volatility_index": 0.4,
                      "estimated_daily_demurrage_usd": 56800,
                      "updated_at": "2026-10-04 12:40 UTC",
                      "as_of": "2026-10-04 12:40 UTC",
                      "data_source": "calibrated_reference_seed",
                      "data_source_label": "Calibrated reference seed (static model baseline, NOT live telemetry). Reference conditions: Median wait 32.9h.",
                      "live_detail": "{\"port_name\": \"Shanghai\", \"country\": \"China\", \"congestion_score\": 0.62, \"eta_delay_days\": 1.4, \"waiting_vessels\": 24, \"median_wait_hours\": 32.9, \"berth_occupancy_pct\": 76.0, \"status\": \"MODERATE\", \"sources\": [\"calibrated_reference_seed\"], \"as_of\": \"2026-10-04 12:40 UTC\", \"source\": \"calibrated_reference_seed\"}",
                      "decision_grade": "reference",
                      "signal": {
                        "level": "ELEVATED OPERATIONAL PRESSURE",
                        "live_observation": false,
                        "queue_vessels": 24,
                        "expected_delay_days": 1.4,
                        "demurrage_expected_usd": 44800,
                        "confidence": null,
                        "provenance": "calibrated_reference_seed",
                        "decision_implication": "Reference baseline only \u2014 NOT a live observation. Indicates modeled reference conditions at Shanghai (China); do not use as real-time field data.",
                        "as_of": "2026-10-04 12:40 UTC"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}