{
  "openapi": "3.0.3",
  "info": {
    "title": "Aether-X Port Congestion Oracle",
    "description": "Port congestion reference signals for global trade, supply chain and quantitative finance.\n\n**IMPORTANT \u00b7 Data integrity notice**: every response includes `data_source`, `data_source_label` and `as_of`.\nBrazilian ports (BRSSZ, BRPNG, BRRIO, BRNIT, BRITG) serve live line-ups: `data_source=\"live:appa+santos+lachmann\"` (BRSSZ/BRPNG) and `data_source=\"live:portosrio_silog\"` (BRRIO/BRNIT/BRITG). The remaining ports\nserve a **static reference seed**: `data_source=\"static_reference_seed\"` means the value is a seeded baseline, not a\nlive measurement. The 24/48/72h trend is a `synthetic_projection`, not a live forecast. Do not treat seed numbers as\nreal-time field data.\n\n**The signal** \u2014 `GET /v1/port-risk?port_id=BRSSZ` returns:\n\n| Field | Meaning |\n|-------|---------|\n| `congestion_score` | Normalized 0.0\u20131.0 reference congestion level (seeded) |\n| `eta_delay_days` | Reference delay applied to incoming vessels |\n| `waiting_vessels` | Reference ships anchored or queued |\n| `freight_volatility_index` | Pressure indicator for freight pricing |\n| `estimated_daily_demurrage_usd` | Estimated daily demurrage (USD) for a vessel queued at the port |\n| `data_source` | Always `static_reference_seed` until live telemetry is connected |\n| `as_of` | Timestamp of the seed (not a live refresh) |\n\n**Trend (24h/48h/72h)** \u2014 `GET /v1/port-trend?port_id=BRSSZ` returns a **synthetic** projection with a `trend` label: `acelerando`, `est\u00e1vel` or `descongestionando`.\n\n**Free tier** \u2014 $0.00, no credit card required. Pay-as-you-go beyond the free tier at $0.02 per query.\n\n**Other ways to consume it**\n- Python SDK: `pip install aetherx-oracle`\n- MCP server for AI agents: `uvx aetherx-mcp` (or the hosted `/mcp` endpoint) \u2014 tools: `get_port_risk`, `get_ports_risk`, `get_port_trend`\n\n**Coverage** \u2014 19 ports: BRSSZ, BRPNG, BRRIO, BRNIT, BRITG, CNSHA, CNNGB, CNTAO, SGSIN, NLRTM, USLAX, USNYC, DEHAM, MPTNG, AEDXB, KRPUS, GBLGP, ZACPT, MXZLO. Unknown ports return a global statistical estimate (`country=\"Global\"`).\n\nSignals are provided \"AS IS\" and do not constitute investment advice.\n",
    "version": "0.2.0",
    "termsOfService": "https://aetherx.aether-grid.io/terms",
    "contact": {
      "name": "Aether-X",
      "url": "https://aetherx.aether-grid.io",
      "email": "contato@aether-grid.io"
    },
    "x-logo": {
      "url": "https://raw.githubusercontent.com/belegante-byte/aetherx-mcp/main/assets/logo.png",
      "altText": "Aether-X Port Congestion Oracle"
    }
  },
  "servers": [
    {
      "url": "https://aetherx.aether-grid.io",
      "description": "Production (Railway)"
    }
  ],
  "tags": [
    {
      "name": "Port Risk",
      "description": "Predictive congestion, ETA delay and freight volatility signals per port."
    }
  ],
  "paths": {
    "/v1/port-risk": {
      "get": {
        "tags": [
          "Port Risk"
        ],
        "summary": "Get port risk",
        "description": "Returns the predictive congestion signal for a single global port: `congestion_score` (0.0-1.0), `eta_delay_days`, `waiting_vessels` and `freight_volatility_index`. Unknown ports return a global statistical estimate with `country=\"Global\"`.",
        "operationId": "getPortRisk",
        "parameters": [
          {
            "name": "port_id",
            "in": "query",
            "required": true,
            "description": "UN/LOCODE of the port, e.g. BRSSZ (Santos), CNSHA (Shanghai), NLRTM (Rotterdam).",
            "schema": {
              "type": "string",
              "example": "BRSSZ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The current congestion signal for the requested port.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "port_id",
                    "port_name",
                    "country",
                    "congestion_score",
                    "eta_delay_days",
                    "waiting_vessels",
                    "freight_volatility_index",
                    "estimated_daily_demurrage_usd",
                    "updated_at"
                  ],
                  "properties": {
                    "port_id": {
                      "type": "string",
                      "example": "BRSSZ"
                    },
                    "port_name": {
                      "type": "string",
                      "example": "Santos"
                    },
                    "country": {
                      "type": "string",
                      "example": "Brasil"
                    },
                    "congestion_score": {
                      "type": "number",
                      "format": "double",
                      "example": 0.78
                    },
                    "eta_delay_days": {
                      "type": "number",
                      "format": "double",
                      "example": 1.6
                    },
                    "waiting_vessels": {
                      "type": "integer",
                      "example": 12
                    },
                    "freight_volatility_index": {
                      "type": "number",
                      "format": "double",
                      "example": 0.42
                    },
                    "estimated_daily_demurrage_usd": {
                      "type": "integer",
                      "example": 63200
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2026-09-17 15:46:53"
                    }
                  }
                },
                "example": {
                  "port_id": "BRSSZ",
                  "port_name": "Santos",
                  "country": "Brasil",
                  "congestion_score": 0.33,
                  "eta_delay_days": 0.2,
                  "waiting_vessels": 0,
                  "freight_volatility_index": 0.4,
                  "estimated_daily_demurrage_usd": 45200,
                  "updated_at": "2026-09-19 01:34:42",
                  "as_of": "2026-09-19 01:34:42",
                  "data_source": "live:santos+santos_painel",
                  "data_source_label": "Live line-up from Porto de Santos + Painel de opera\u00e7\u00f5es de Santos.",
                  "live_detail": "{\"ao_largo\": 0, \"esperados\": 0, \"atracados\": 591, \"programados\": 135}",
                  "validation": {
                    "source": "antaq_estatistico_aquaviario",
                    "ano": 2026,
                    "mes": "jan",
                    "n_atracacoes": 500,
                    "n_com_imo": 491,
                    "espera_atracacao_h_avg": 51.4,
                    "espera_atracacao_h_med": 10.2,
                    "espera_atracacao_h_p90": 151.1,
                    "atracado_h_avg": 50.1,
                    "estadia_h_avg": 101.3,
                    "validado_em": "2026-09-19 01:49:06"
                  },
                  "live": {
                    "ao_largo": 0,
                    "esperados": 0,
                    "atracados": 591,
                    "programados": 135
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/port-trend": {
      "get": {
        "tags": [
          "Port Risk"
        ],
        "summary": "Get port risk trend",
        "description": "Returns the 24h, 48h and 72h congestion projections for a single global port, with a `trend` label (`acelerando`, `est\u00e1vel` or `descongestionando`).",
        "operationId": "getPortTrend",
        "parameters": [
          {
            "name": "port_id",
            "in": "query",
            "required": true,
            "description": "UN/LOCODE of the port, e.g. BRSSZ (Santos), CNSHA (Shanghai), NLRTM (Rotterdam).",
            "schema": {
              "type": "string",
              "example": "BRSSZ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The 24h, 48h and 72h congestion projections for the requested port.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "port_id",
                    "port_name",
                    "country",
                    "trend",
                    "congestion_score",
                    "projection",
                    "updated_at"
                  ],
                  "properties": {
                    "port_id": {
                      "type": "string",
                      "example": "BRSSZ"
                    },
                    "port_name": {
                      "type": "string",
                      "example": "Santos"
                    },
                    "country": {
                      "type": "string",
                      "example": "Brasil"
                    },
                    "trend": {
                      "type": "string",
                      "enum": [
                        "acelerando",
                        "est\u00e1vel",
                        "descongestionando"
                      ],
                      "example": "est\u00e1vel"
                    },
                    "congestion_score": {
                      "type": "number",
                      "format": "double",
                      "example": 0.78
                    },
                    "projection": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "required": [
                          "congestion_score",
                          "eta_delay_days",
                          "estimated_daily_demurrage_usd"
                        ],
                        "properties": {
                          "congestion_score": {
                            "type": "number",
                            "format": "double"
                          },
                          "eta_delay_days": {
                            "type": "number",
                            "format": "double"
                          },
                          "estimated_daily_demurrage_usd": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2026-09-17 15:46:53"
                    }
                  }
                },
                "example": {
                  "port_id": "BRSSZ",
                  "port_name": "Santos",
                  "country": "Brasil",
                  "trend": "acelerando",
                  "congestion_score": 0.33,
                  "projection": {
                    "h24": {
                      "congestion_score": 0.35,
                      "eta_delay_days": 0.21,
                      "estimated_daily_demurrage_usd": 46000
                    },
                    "h48": {
                      "congestion_score": 0.35,
                      "eta_delay_days": 0.21,
                      "estimated_daily_demurrage_usd": 46000
                    },
                    "h72": {
                      "congestion_score": 0.36,
                      "eta_delay_days": 0.22,
                      "estimated_daily_demurrage_usd": 46400
                    }
                  },
                  "updated_at": "2026-09-19 01:34:42",
                  "as_of": "2026-09-19 01:34:42",
                  "data_source": "synthetic_projection",
                  "data_source_label": "Synthetic projection from static reference seed (not a live forecast)."
                }
              }
            }
          }
        }
      }
    },
    "/v1/ports-risk": {
      "get": {
        "tags": [
          "Port Risk"
        ],
        "summary": "Get congestion risk for multiple ports in one call",
        "description": "Returns the congestion signals for up to 20 ports in a single request, preserving the order of the `port_ids` (comma-separated UN/LOCODEs).",
        "operationId": "getPortsRisk",
        "parameters": [
          {
            "name": "port_ids",
            "in": "query",
            "required": true,
            "description": "Comma-separated UN/LOCODEs, e.g. BRSSZ,CNSHA,NLRTM (max 20).",
            "schema": {
              "type": "string",
              "example": "BRSSZ,CNSHA,NLRTM"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The congestion signals, one per requested port.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "results"
                  ],
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "port_id",
                          "port_name",
                          "country",
                          "congestion_score",
                          "eta_delay_days",
                          "waiting_vessels",
                          "freight_volatility_index",
                          "estimated_daily_demurrage_usd",
                          "updated_at"
                        ],
                        "properties": {
                          "port_id": {
                            "type": "string",
                            "example": "BRSSZ"
                          },
                          "port_name": {
                            "type": "string",
                            "example": "Santos"
                          },
                          "country": {
                            "type": "string",
                            "example": "Brasil"
                          },
                          "congestion_score": {
                            "type": "number",
                            "format": "double",
                            "example": 0.78
                          },
                          "eta_delay_days": {
                            "type": "number",
                            "format": "double",
                            "example": 1.6
                          },
                          "waiting_vessels": {
                            "type": "integer",
                            "example": 12
                          },
                          "freight_volatility_index": {
                            "type": "number",
                            "format": "double",
                            "example": 0.42
                          },
                          "estimated_daily_demurrage_usd": {
                            "type": "integer",
                            "example": 63200
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2026-09-17 15:46:53"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "results": [
                    {
                      "port_id": "BRSSZ",
                      "port_name": "Santos",
                      "country": "Brasil",
                      "congestion_score": 0.33,
                      "eta_delay_days": 0.2,
                      "waiting_vessels": 0,
                      "freight_volatility_index": 0.4,
                      "estimated_daily_demurrage_usd": 45200,
                      "updated_at": "2026-09-19 01:34:42",
                      "as_of": "2026-09-19 01:34:42",
                      "data_source": "live:santos+santos_painel",
                      "data_source_label": "Live line-up from Porto de Santos + Painel de opera\u00e7\u00f5es de Santos.",
                      "live_detail": "{\"ao_largo\": 0, \"esperados\": 0, \"atracados\": 591, \"programados\": 135}",
                      "validation": {
                        "source": "antaq_estatistico_aquaviario",
                        "ano": 2026,
                        "mes": "jan",
                        "n_atracacoes": 500,
                        "n_com_imo": 491,
                        "espera_atracacao_h_avg": 51.4,
                        "espera_atracacao_h_med": 10.2,
                        "espera_atracacao_h_p90": 151.1,
                        "atracado_h_avg": 50.1,
                        "estadia_h_avg": 101.3,
                        "validado_em": "2026-09-19 01:49:06"
                      },
                      "live": {
                        "ao_largo": 0,
                        "esperados": 0,
                        "atracados": 591,
                        "programados": 135
                      }
                    },
                    {
                      "port_id": "CNSHA",
                      "port_name": "Shanghai",
                      "country": "China",
                      "congestion_score": 0.72,
                      "eta_delay_days": 1.5,
                      "waiting_vessels": 18,
                      "freight_volatility_index": 0.38,
                      "estimated_daily_demurrage_usd": 60800,
                      "updated_at": "2026-09-19 00:44:19",
                      "as_of": "2026-09-19 00:44:19",
                      "data_source": "static_reference_seed",
                      "data_source_label": "Static reference data (no live telemetry connected).",
                      "live_detail": null,
                      "validation": null
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}